:host{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.sw-container{
  background-image: linear-gradient(to right, #25316D, #7774ed);
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 800px;
  height: 500px;
  box-shadow: 0 3px 6px rgba(129, 129, 129, 0.16),
  0 3px 6px rgba(105, 105, 105, 0.23);

  .stop-watch{
    font-size: 85px;
    margin: 25px;
  }

  .button-container {
    button {
      background: #fff;
      border: none;
      outline: 0;
      cursor: pointer;
      border-radius: 50%;
      width: 55px;
      height: 55px;
      color: #6288df;
      margin: 10px;
    }

    i {
      display: block;
      font-size: large;
    }



    .ripple {
      background-position: center;
      transition: background 0.9s;
    }

    .ripple:hover {
      background: #f1f2f5
        radial-gradient(circle, transparent 1%, #f1f2f5 1%)
        center/15000%;
    }

    .ripple:active {
      background-color: #b3b5b9;
      background-size: 100%;
      transition: background 0.9s;
    }

  }

  .laps {
    margin-top: 15px;
    display: block;
    overflow-y: auto;
    font-size: 30px;
    height: 200px;
  }

}
